# where buildable objects are kept
bin/*
# ignore object files
*.o
# ignore compiled executables
*.exe

#ignore python cache bytecode
*.pyc

#ignore output from yacc.py
*.out
out.txt

#ignores vscode files
.vscode
.venv